


/*Required CSS*/
.circular-slider svg.radial-progress {
height: auto;
max-width: 240px;
padding: 0;
transform: rotate(-90deg);
width: 100%;

box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
border-radius: 50%;
}
.circular-slider section.svg-container svg.radial-progress:nth-child(even) {
margin: 0 15px;
}
.circular-slider svg.radial-progress circle {
fill: transparent;
stroke: #fff;
}
.circular-slider svg.radial-progress circle.bar-static {
stroke: #6666667f !important;
}
.circular-slider svg.radial-progress circle.bar--animated {
stroke-dasharray: 219.91148575129;
stroke: #fac517;
stroke-dashoffset: 219.91148575129;
stroke-width: 4px;
stroke-linecap: round;
}
.circular-slider svg.radial-progress text {
fill: #333333;
font-family: Roboto;
font-size: 16px;
font-weight: 700;
text-anchor: middle;
/* text-shadow: 0 0 5px #0000007a; */
}

.circular-slider .card{
  display: grid;
  justify-items: center !important;
}

